{% extends "base.html" %}
{% block content %}
<div>
<nav class="nav">
  <a class="nav-link" href="{% url 'users:birthday' %}">Aniversariantes</a>
  <a class="nav-link" href="{% url 'users:anniversary' %}">Tempo de SciELO</a>
</nav>
{% if request.user.is_superuser %}
    <nav class="nav">
      <a class="nav-link" href="{% url 'users:list' status=0 %}">Gestão dos dados dos membros da Equipe</a>
      <a class="nav-link" href="{% url 'reminder:list' %}">Gestão dos lembretes</a>
    </nav>
{% endif %}
</div>


{% endblock %}
