{% extends "base.html" %}
{% block content %}
  
<h3>Aniversariantes</h3>
<h3>Tempo de SciELO</h3>

{% if request.user.is_superuser %}
  <h3>Colaboradores</h3>
  <div>
      <ul>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:list' status=0 %}">Todos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:list' status=1 %}">Pendentes de confirmação do usuário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:list' status=2 %}">Pendentes de confirmação do administrador</a>
          </li>
          
      </ul>
  </div>
{% endif %}

{% endblock %}
