{% extends "base.html" %}
{% load static i18n %}
{% block title %}SciELO Team{% endblock %}

{% block content %}
  <h3>Tempo de SciELO</h3>

  <div class="container">
    <div class="row">
      {% for user in user_list %}
        <div class="card text-center" style="width: 12rem; ">
          <h5 class="card-header">{{user.anniversary|date:"F d"}}</h5>
          <div class="card-body" style="background: url('/static/images/scielo2.png'); color: white;">
            <img class="card-img-top rounded-circle" src="{{ user.photo.url }}" alt="{{ user.username }}">
            
            
          </div>
          <p class="card-footer">
                {{ user.fullname }}<br/>
 <em>{{user.display_years}}</em>
            </p>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}

