{% extends "base.html" %}
{% load static i18n %}
{% block title %}SciELO Team{% endblock %}

{% block content %}
  <h3>Aniversariantes</h3>

  <div class="container">
    <div class="row">
      
      {% for user in user_list %}
        
        <div class="card text-center" style="width: 12rem;">
          <h5 class="card-header">{{user.birthdate|date:"F d"}}</h5>
          <div class="card-body" style="background: url('/static/images/b_card.png');">
            <img class="card-img-top rounded-circle" src="{{ user.photo.url }}" alt="{{ user.username }}">
              
            
          </div>
          <p class="card-footer" style="color: black">
                {{ user.fullname }}               
              </p>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
