{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    
  {% if request.user.is_superuser %}
  <h5>Gestão dos dados dos membros da Equipe</h5>
  <div>
    <nav class="navbar navbar-light" style="background-color: #C4BDB6;">
      <!-- Navbar content -->
      <ul class="nav justify-content-center">
        <li class="active">
          <a class="nav-link" href="{% url 'users:list' status=0 %}">Todos</a>          
        </li>
        <li>
            <a class="nav-link" href="{% url 'users:list' status=1 %}">Cadastros incompletos</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'users:list' status=2 %}">Validar cadastros</a>
        </li>
      </ul>
    </nav>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.birthdate %}
        <p><strong>Data de nascimento:</strong> {{ object.birthdate }}</p>
      {% endif %}
      {% if object.anniversary %}
        <p><strong>Data de admissão:</strong> {{ object.anniversary }}</p>
      {% endif %}
      {% if object.display_years %}
        <p><strong>Anos: </strong>{{ object.display_years }}</p>
      {% endif %}
      {% if object.photo %}
      {% if object.photo.url %}
        <p>File uploaded at: <a href="{{ object.photo.url }}">{{ object.photo.url }}</a></p>
         <img src="{{ object.photo.url }}">
      {% endif %}
      {% endif %}
    </div>
  </div>

  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Editar dados</a>
      <!-- 
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      -->
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}

{% endblock content %}

