{% extends "base.html" %}
{% load static i18n %}
{% block title %}SciELO Team{% endblock %}

{% block content %}
  <h5>Gestão dos dados dos membros da Equipe</h5>

  <div>
    <nav class="navbar navbar-light" style="background-color: #FBCFCF;">
      <!-- Navbar content -->
      <ul class="nav justify-content-center">
        <li class="active">
          <a class="nav-link" href="{% url 'users:list' status=0 %}">Todos</a>          
        </li>
        <li>
            <a class="nav-link" href="{% url 'users:list' status=1 %}">Cadastros incompletos</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'users:list' status=2 %}">Validar cadastros</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      {% for user in user_list %}
        <div class="card-group">
          <div class="card text-center" style="width:15rem;">
              <a href="{% url 'users:update_dates' user.username %}">
                <img class="card-img rounded-circle" src="{{ user.photo.url }}" alt="">
              </a>
              <div class="card-body">
                <h6 class="card-title">
                  <a href="{% url 'users:update_dates' user.username %}">
                  {{ user.username }}
                  </a>
                </h6>
                <div class="card-text">
                  {% if user.is_staff %}
                    [adm]
                  {% endif %}  
                  {% if user.is_active %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{user.registration_status}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> {{user.registration_status}}% preenchido</div>
                    </div>
                  {% else %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-alert" role="progressbar" style="width: {{user.registration_status}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{user.registration_status}}% preenchido </div>
                    </div>
                  {% endif %}
                </div>
                <div class="card-footer">
                  <strong>Nascimento:</strong><br/>{{user.birthdate|date:"d/F/Y"}}
                  {% if user.anniversary_alert %}<br/>
                  <strong>Admissão:</strong><br/>
                  {{user.anniversary|date:"d/F/Y"}}<hr/>
                  <strong>{{user.display_years}}</strong>
                  {% endif %}                  
                </div>
                
              </div>
            </div>
          </div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}
