{% extends "base.html" %}
{% load static %}
  
{% block title %}Lembrete: {{ object.name }}{% endblock %}

{% block content %}
  <div><a class="nav-link" href="{% url 'reminder:list' %}">Gestão dos lembretes</a></div>

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>
      {% if object.email_to %}
        <p><strong>E-mail para:</strong> {{ object.email_to }}</p>
      {% endif %}
      {% if object.email_from %}
        <p><strong>E-mail de:</strong> {{ object.email_from }}</p>
      {% endif %}
      {% if object.is_active %}
        <p><strong>Ativo: </strong>{{ object.is_active }}</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}

